<div id="row">
    <div class="large-3 columns">
        <%= link_to "Click here to sign in",  @oauth_link %>
    </div>
</div>

<div id="large-6 columns">
  <div id="sessions-text">
    <h1>Welcome to gitThreeView</h1>
    <p >gitThreeView a simple project that takes your repo and allows you to see your data in a visiual manner to better see work flow.</p>
  </div>
</div>
