body {
  background-color: #fff;
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#graph-canvas {
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    background-color: #000;
    overflow: hidden;
    z-index: 1;
}

#graph {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 60px;
    color: #000;
    background-color: #a9a9a9;
    padding: 5px;
    font-family: Monospace;
    font-size: 13px;
    z-index: 100;
}

#sessions-text {
  text-align: center;
}

// #graph-canvas {
//   background-color: white;
// }

#title-head {
  color: grey;
}
